<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,200}</string>
                <key>spriteSourceSize</key>
                <string>{10,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,200}</string>
                <key>spriteSourceSize</key>
                <string>{10,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{10,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,200}</string>
                <key>spriteSourceSize</key>
                <string>{10,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{10,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sticks.png</string>
            <key>size</key>
            <string>{12,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93394c532cb74c85ca68425f7eb8295:08e2acf7e2b3809fc7e1e4065512d989:aeb808253ae7e0ab6035d2dad5f5346d$</string>
            <key>textureFileName</key>
            <string>sticks.png</string>
        </dict>
    </dict>
</plist>
